.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
  width: max-content;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.summary-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-action-btn {
  padding: 0.5rem;
  font-size: 0.98rem;
  max-width: 10rem;
  margin: 1rem auto 0 auto;
  width: fit-content;
}

.order-heading {
  font-size: 1.2rem;
}

.total-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.gift-checkbox {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='checkbox'] {
  padding: 0;
  margin: 0;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}

.order-contents {
  font-size: 0.9rem;
  color: #707070;
}

.order-contents__item {
  display: grid;
  grid-template-columns: 25rem 1.5rem max-content;
  grid-column-gap: 0.2rem;
  padding: 0.3rem;
}

@media only screen and (max-width: 580px) {
  .order-contents__item {
    grid-template-columns: 20rem 1.5rem max-content;
  }
}

@media only screen and (max-width: 500px) {
  .order-contents__item {
    grid-template-columns: 16rem 1.5rem max-content;
  }
}

@media only screen and (max-width: 440px) {
  .order-contents {
    font-size: 0.75rem;
    color: #707070;
  }

  .order-contents__item {
    grid-template-columns: 11rem 1.5rem max-content;
  }

  .summary-action-btn {
    padding: 0.5rem;
    font-size: 0.8rem;
    max-width: 10rem;
    margin: 1rem auto 0 auto;
    width: fit-content;
  }

  .order-heading {
    font-size: 1rem;
  }

  .total-price {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .gift-checkbox {
    font-size: 0.8rem;
  }
}

.discount-string {
  display: inline;
  color: green;
  font-size: 0.8rem;
}

.updated-price {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 0.2rem;
}

@media only screen and (max-width: 400px) {
  .updated-price {
    display: block;
    margin-bottom: 0.2rem;
  }
}

.order-contents__price {
  color: #007c00;
}

.order-contents__discount {
  margin-top: 0.5rem;
  color: #1d3d8e;
}
