.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
  width: max-content;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.checkout-btn {
  margin-top: 1rem;
  padding: 0.4rem;
  font-size: 1rem;
}

.order-heading {
  font-size: 1.2rem;
}

.total-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.gift-checkbox {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='checkbox'] {
  padding: 0;
  margin: 0;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}
