@media only screen and (max-width: 800px) {
  .banner-container {
    font-size: 1.8rem;
    padding-top: 1.4rem;
  }
}

.cart-heading {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-summary-wrapper {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.cart-order-summary__container {
  margin-top: 1rem;
}

.cart-items {
  flex: 1 1 50rem;
}

@media only screen and (max-width: 1120px) {
  .cart-summary-wrapper {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .cart-heading {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .cart-heading {
    font-size: 1.1rem;
  }
}
