.product-card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

.product-card-home img {
  width: 18rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-card-home h3 {
  margin: 1rem 0;
}

.price {
  font-weight: bold;
  margin-top: 0;
  color: rgb(83, 83, 83);
  margin-bottom: 1rem;
}

.cart-input {
  width: 2.2rem;
  height: 2rem;
  text-align: right;
}

.item-in-cart-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-qty {
  background-color: white;
  padding: 0.25rem 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.2px 0px 0px 0.7px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.qty-btn {
  font-size: 1.5rem;
}

.product-card-cart {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 50rem;
}

.cart-card-right {
  width: 100%;
}

.product-card-cart img {
  width: 15rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.item-status {
  color: green;
  font-size: 0.9rem;
}

.price-cart {
  font-weight: 500;
  margin-top: 0;
  color: rgb(83, 83, 83);
  margin-bottom: 0.5rem;
}

.item-name {
  font-size: 1rem;
  font-weight: bold;
}

.price-qty-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

@media only screen and (max-width: 750px) {
  .product-card-cart {
    gap: 1rem;
  }

  .product-card-cart .item-in-cart-options {
    gap: 0.2rem;
    padding-bottom: 0.3rem;
  }

  .product-card-cart .item-qty {
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
  }

  .product-card-cart .qty-btn {
    font-size: 1rem;
  }

  .product-card-cart img {
    width: 10rem;
    height: 8rem;
    object-fit: contain;
  }

  .product-card-cart .item-name {
    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 0.4rem;
  }

  .product-card-cart .price-cart {
    font-weight: 400;
    font-size: 0.9rem;
  }

  .item-status {
    font-size: 0.82rem;
  }
}

@media only screen and (max-width: 520px) {
  .product-card-cart {
    gap: 1rem;
  }

  .product-card-cart img {
    object-fit: contain;
    width: 7rem;
    height: 6rem;
  }

  .product-card-cart .item-name {
    font-size: 0.8rem;
  }

  .product-card-cart .price-cart {
    font-weight: 400;
    font-size: 0.85rem;
  }

  .item-status {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 450px) {
  .product-card-cart .item-name {
    font-size: 0.75rem;
    font-weight: 500;
    padding-right: 0.1rem;
  }

  .product-card-cart .price-qty-container {
    display: block;
  }

  .product-card-cart .price-cart {
    font-weight: 400;
    font-size: 0.75rem;
  }

  .product-card-cart .qty-btn {
    font-size: 0.9rem;
  }

  .product-card-cart .item-in-cart-options {
    margin-left: -0.5rem;
  }
}

@media only screen and (max-width: 372px) {
  .product-card-home {
    width: 19rem;
  }

  .product-card-home img {
    width: 14rem;
  }

  .item-status {
    font-size: 0.64rem;
  }
}
