.product-card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

@media only screen and (max-width: 372px) {
  .product-card-home {
    width: 16rem;
  }
}

.product-card-home img {
  width: 18rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 372px) {
  .product-card-home img {
    width: 14rem;
  }
}

.product-card-home h3 {
  margin: 1rem 0;
}

.price {
  font-weight: bold;
  margin-top: 0;
  color: rgb(83, 83, 83);
  margin-bottom: 1rem;
}

.cart-input {
  width: 2.2rem;
  height: 2rem;
  text-align: right;
}

.item-in-cart-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-qty {
  background-color: white;
  padding: 0.25rem 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 0.2px 0px 0px 0.7px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.qty-btn {
  font-size: 1.5rem;
}

.product-card-cart {
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 50rem;
}

.product-card-cart img {
  width: 18rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.item-status {
  color: green;
  font-size: 0.8rem;
}

.price-cart {
  font-weight: 500;
  margin-top: 0;
  color: rgb(83, 83, 83);
  margin-bottom: 0.5rem;
}

.item-name {
  font-size: 1rem;
  font-weight: bold;
}
