.product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin: 1rem 0;
}

.product-list {
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-grid {
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product-grid {
    grid-template-columns: auto auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .product-grid {
    grid-template-columns: auto auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-grid {
    grid-template-columns: auto auto auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .product-grid {
    grid-template-columns: auto auto auto auto;
  }
}
