.header {
  user-select: text;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #123da0d5;
  color: #fff;
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  z-index: 10;
}

.header p {
  margin: 0;
  cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.header-content-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  color: rgb(252, 166, 6);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  font-weight: 100;
  user-select: text;
}

.header-content-right {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.cart-with-count {
  position: relative;
  display: flex;
}

.item-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.7rem, -0.5rem);
  background-color: rgb(252, 166, 6);
  font-size: 0.7rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  vertical-align: middle;
}

.header-image {
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.mb-only {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .lg-only {
    display: none;
  }

  .mb-only {
    display: block;
  }

  .header {
    padding: 0 1.2rem;
  }

  .item-count-mb {
    position: absolute;
    transform: translate(1.5rem, -0.5rem);
    background-color: rgb(252, 166, 6);
    font-size: 0.7rem;
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    vertical-align: middle;
  }

  .header-content-bottom {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
  }
}
